language: android

before-install:
  # Debug
  - ./upload-to-releases.sh

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-24.0.1
    - android-24
    - extra-android-m2repository

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_script:
  - cp signing.properties.travis signing.properties

after_success:
  - cp app/build/outputs/apk/app-release.apk douya-ci.apk
  - ./upload-to-releases.sh douya-ci.apk

after_failure:
  - cat app/build/outputs/lint-results-*.html
